@media (max-width: 992px) {
	.container {
		max-width: 95%;
	}

	.advantages {
		&__subheader {
			font-size: 16px;
			margin-top: 20px;
		}

		&__descr {
			font-size: 13px;
		}

		&__item {
			max-width: 230px;
		}
	}

	.consultation {
		.title_left {
			font-size: 28px;
		}

		&__descr {
			font-size: 18px;
		}
	}
}

@media (max-width: 768px) {
	.header {
		&__official {
			display: none;
		}

		&__phone {
			font-size: 17px;
		}
	}

	.promo {
		&__wrapper {
			// justify-content: center;
			align-items: center;
		}

		&__header {
			text-align: center;
			font-size: 36px;
		}

		&__subheader {
			text-align: center;
			font-size: 18px;
			margin-top: 4px;
		}

		&__icons {
			margin-top: 40px;
		}

		&__icon {
			max-width: 110px;
			font-size: 13px;
		}
	}

	.button {
		&_main {
			width: 50%;
			margin-top: 50px;
		}
	}

	.advantages {
		&__header {
			font-size: 28px;
		}

		&__wrapper {
			flex-direction: column;
			align-items: center;
			margin-top: 30px;
		}

		&__item {
			margin-top: 30px;
		}
	}

	.consultation {
		padding: 85px 0 90px;

		.title_left,
		&__descr {
			text-align: center;
		}

		&__descr {
			margin: 22px 0;
		}
		.feed-form {
			margin: 0 auto;
		}
	}
}

@media (max-width: 576px) {
	.header {
		flex-direction: column;

		&__contacts {
			margin-top: 40px;
			align-items: center;
		}

		&__phone {
			font-size: 22px;
		}
	}

	.promo {
		&__wrapper {
			margin-top: 75px;
		}

		&__header {
			font-size: 30px;
		}

		&__subheader {
			font-size: 15px;
			margin-top: 0;
		}

		&__icons {
			flex-direction: column;
			margin-top: 18px;
		}

		&__icon {
			margin-top: 23px;

			img {
				margin-bottom: 13px;
			}
		}

		&__link {
			font-size: 3.5vw;
		}
	}

	.button {
		margin-top: 10px;
		width: 170px;

		&_main {
			width: 68%;
			margin-top: 50px;
			font-size: 3.5vw;
		}

		&_submit {
			width: 100%;
			margin-top: 0;
		}
	}

	.advantages {
		&__header {
			font-size: 24px;
		}
	}

	.consultation {
		padding-top: 65px 0 70px;
		.title_left {
			font-size: 24px;
		}

		&__descr {
			font-size: 16px;
			margin: 20px 0;
		}
	}
}