.title {
	color: #0d0d0d;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;

	&_left {
		color: #FFFFFF;
		text-align: left;
	}

	&_reviews {
		margin-bottom: 60px;

		&-item {
			font-size: 18px;
			line-height: 18px;
			text-align: left;
		}
	}
}